body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-identificador {
    text-align: center;
}

.container-resultado {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-imagem {
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
    border: 5px solid #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.container-imagem img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
