

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

button {
    margin-left: 10px;
}

select {
    width: 100%;
    margin-top: 10px;
}

hr {
    margin-top: 20px;
}
